:root {
  --mainBackgroudColor: #000;
  --mainColor: #fff;
  --importantColor: #08d665;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--mainBackgroudColor);
  color: var(--mainColor);
}

.section-header {
  color: var(--importantColor);
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav {
  background-color: var(--mainBackgroudColor);
}

nav .logo {
  color: var(--importantColor);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

nav .logo:hover {
}

header {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

header div {
  display: table-cell;
  vertical-align: middle;
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2; /* don't forget to set a duration! */
}

header div p {
  color: #fff;
  font-size: 44px;
}

header div p span {
  color: var(--importantColor);
  text-transform: uppercase;
  font-weight: 700;
}

header div .learn-more {
  position: relative;
  animation-name: backInLeft;
  animation-duration: 4s;
}

header div .see-portfolio {
  position: relative;
  animation-name: backInRight;
  animation-duration: 4s;
}
@keyframes backInRight {
  0% {
    left: 900px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
}

@keyframes backInLeft {
  0% {
    left: -500px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
}

header div .learn-more a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  padding: 13px 28px;
  border: 2px solid #fff;
  transition: 0.5s;
}

header div .see-portfolio a {
  color: #000;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  padding: 15px 34px;
  /* border: 2px solid #08d665; */
}

header div .learn-more a:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

header div .learn-more a i {
  transition: 0.5s;
}

header div .learn-more a:hover i {
  transform: rotate(90deg);
}

#about .about-me {
  font-size: 22px;
  word-spacing: 1px;
  letter-spacing: 1px;
}

#industries .industry-image {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}

#industries .industry-image img {
  height: 200px;
}

#industries .industry-image .overlay {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#industries .industry-image:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#industries .industry-image:hover img {
  filter: brightness(40%);
}

#industries .industry-image .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#industries .industries-image-row-1 {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

#industries .industries-image-row-2 {
  max-width: 210px;
  max-height: 210px;
  border-radius: 50%;
}

#services .services-card {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 30px 0;
  min-height: 240px;
}

#services .services-card a {
  letter-spacing: 1px;
  cursor: pointer;
}

#services .services-card a:hover {
  color: #08d665;
}

#contact .contact-card {
  display: flex;
  border: 2px solid #fff;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
}
#contact .contact-card i {
  padding: 15px;
  background: linear-gradient(#08d665, rgb(0, 0, 0));
  border-radius: 10px;
  color: white;
}
#contact .contact-card p {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  header div p {
    font-size: 28px;
  }

  #about .about-me {
    font-size: 18px;
  }

  #industries .industries-image-row-1 {
    max-width: 175px;
    max-height: 175px;
  }

  #industries .industries-image-row-2 {
    max-width: 175px;
    max-height: 175px;
  }

  #contact .contact-card p {
    font-size: 16px;
  }
}
